<div class="row mt-4">
  <div class="col-md-3">
    <div class="card bg-info text-white">
      <div class="card-body">
        <h5>Élèves inscrits</h5>
        <p class="display-6">{{ nb_eleves }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-warning text-dark">
      <div class="card-body">
        <h5>Notes enregistrées</h5>
        <p class="display-6">{{ nb_notes }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-danger text-white">
      <div class="card-body">
        <h5>Absences</h5>
        <p class="display-6">{{ nb_absences }}</p>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card bg-success text-white">
      <div class="card-body">
        <h5>Transports</h5>
        <p class="display-6">{{ nb_transports }}</p>
      </div>
    </div>
  </div>
</div>
