.card {
    border-radius: 15px;
    background-color: #ffffff;
    transition: all 0.2s ease;
}
.card:hover {
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
}

.card-title {
    font-size: 1.2rem;
    color: #444;
}

.badge {
    font-size: 0.9rem;
    border-radius: 12px;
    padding: 5px 10px;
}
